div {
    display: grid;
    grid-template-columns: 100px 200px 700px;

    :nth-child(1) {
        color: red;
    }

    :nth-child(2) {
        color: green;
    }

    :nth-child(3) {
        color: yellow;
    }
}
